<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 This program and the accompanying materials are made available under the terms of the MIT license (X11 license) which accompanies this distribution.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.jastemf.sfple"
            class="org.jastemf.sfple.semantics.meta.semanticsPackage"/>
   </extension>

</plugin>
