<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="file:/D:/development/workspaces/jastadd-pico-java/org.jastemf.picojava/specifications/model/picojava.ast"
            class="org.jastemf.picojava.PicojavaPackage"
            genModel="specifications/model/picojava.genmodel"/>
   </extension>

</plugin>
