<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="siple.semantics.resource.siple.mopp.SipleMetaInformation" id="siple.semantics.resource.siple.mopp.SipleMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="siple.semantics.resource.siple.problem">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="siple.semantics.resource.siple.problem">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="siple.semantics.resource.siple.problem">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="siple.semantics.resource.siple.problem">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="siple.semantics.resource.siple.problem">
		</super>
	</extension>
	
	<extension id="siple.semantics.resource.siple.nature" name="siple nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="siple.semantics.resource.siple.mopp.SipleNature">
			</run>
		</runtime>
		<builder id="siple.semantics.resource.siple.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="siple.semantics.resource.siple.builder" name="siple Builder">
		<builder hasNature="true">
			<run class="siple.semantics.resource.siple.mopp.SipleBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="siple.semantics.resource.siple.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="siple.semantics.resource.siple.mopp.SipleResourceFactoryDelegator" type="siple">
		</parser>
	</extension>
	
	<extension-point id="siple.semantics.resource.siple.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
