<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.jastemf.converter.ant.Ecore2ASTTask"
            library="distribution/jastemf-converters.jar"
            name="jastemf.ecore2ast">
      </antTask>
      <antTask
            class="org.jastemf.converter.ant.Ecore2JragTask"
            library="distribution/jastemf-converters.jar"
            name="jastemf.ecore2jrag">
      </antTask>
   </extension>

</plugin>
