<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.jastemf.org/statemachine"
            class="statemachine.StatemachinePackage"
            genModel="specifications/metamodel/Statemachine.genmodel"/>
   </extension>
   
     <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.jastemf.org/statemachine"
            class="statemachine.provider.StatemachineItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

	<extension  
            point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="statemachine.siple.codegeneration"
            nameFilter="*.statemachine*"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="statemachine.siple.codegeneration.GenerateSipleCodeAction"
               enablesFor="1"
               id="statemachine.siple.codegeneration"
               label="Generate Siple Code"
               menubarPath="additions"/>
      </objectContribution>
   </extension>


</plugin>
